<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title> the seasons | Welcome </title>
  <link rel="stylesheet" href="../css/normalize.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|La+Belle+Aurore|Poiret+One|Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/grid-web.css">
</head>

<body>

  <header>
    <nav class="navigation">
      <ul>
        <li>home</li>
        <li>collections</li>
        <li>my cart</li>
      </ul>
    </nav>
    <div class="header">
      <div class="header-content">
        <h1>the seasons</h1>
        <h2>Explore the fashion and express your style.</h2>
        <p>Our products are from recycled materials. We support the environment and do our best to protect it.
          We also collect clothes from our customers and for recycling them we provide 10% discount for a new
          piece of clothing.</p>
      </div>
    </div>
  </header>

  <main>
    <div class="main-container">
      <div class="row-1">
        <div class="box-1">
          <div id="box-1-1"></div>
          <div id="box-1-2" class="style_box style-box1">the soft green</div>
          <div id="box-1-3" class="style_box style-box1">new collection</div>
          <div id="box-1-4"></div>
        </div>
        <div class="box-2">
        </div>
      </div>

      <div class="row-2">
        <div class="box-3">
        </div>
        <div class="box-4">
          <div id="box-2-1"></div>
          <div id="box-2-2" class="style_box style-box2">for a weekend<br>getaway</div>
          <div id="box-2-3" class="style_box style-box2">sweet honey</div>
          <div id="box-2-4"></div>
        </div>
      </div>

      <div class="row-3">
        <div class="box-5">
          <div id="box-3-1"></div>
          <div id="box-3-2" class="style_box style-box3">XXI</div>
          <div id="box-3-3" class="style_box style-box3">discover your<br>wild side here</div>
          <div id="box-3-4"></div>
        </div>
        <div class="box-6">
        </div>
      </div>

      <div class="row-4">
        <div class="box-7">
        </div>
        <div class="box-8">
          <div id="box-4-1"></div>
          <div id="box-4-2" class="style_box style-box4">it's 8 am</div>
          <div id="box-4-3" class="style_box style-box4">back to school</div>
          <div id="box-4-4"></div>
        </div>
      </div>

    </div>
  </main>

  <footer class="footer-background">
    <div class="footer-section">
      <div class="info">
        <h2>more information</h2>
        <p>For product information please read the<br>
          terms and conditions.</p>
        <p>Most of the products are from natural materials.</p>
      </div>
      <div class="contacts">
        <h2>contact us</h2>
        <p>Primrose Av. 61-8776,<br>Washington DC, USA<br>6463822</p>
      </div>
      <div class="social">
        <h2>let's get social</h2>
        <p>
          <i class="fa fa-twitter fa-2x"></i>
          <i class="fa fa-facebook-square fa-2x"></i>
          <i class="fa fa-linkedin fa-2x"></i>
        </p>
      </div>
    </div>
    <div class="copy">
      Copyright &copy; 2018. All rights reserved.
    </div>
  </footer>
</body>

</html>
